<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>파일 리스트 페이지</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
    </head>
<body>
    <h1>파일 리스트 페이지</h1>
    <form method="post" action="{{url_for('compress')}}">
    <table border="1">
        <thead>
            <tr>
                <th>파일 이름</th>
                <th>파일 사이즈</th>
                <th>파일 날짜</th>
                <th>Email 탐지</th>
                <th>파일 선택</th>
            </tr>
        </thead>
        <tbody>
            {% for file in files%}
            <tr>
                <td>{{file[0]}}</td>
                <td>{{file[1]}}</td>
                <td>{{file[2]}}</td>
                <td>{% if file[3] %} <font color="red"><b>이메일 포함</b></font> {% else %} 이메일 미포함 {% endif %}</td>
                <td><input type="checkbox" name="files" value="{{file[0]}}"></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <button type="submit">파일 압축하기</button>
    {% if compressed_file %}
    파일이 압축 완료되었습니다. 다운로드 : <a href="{{url_for('download', file=compressed_file)}}">{{compressed_file}}</a>
    {% endif %}
    </form>
</body>
</html>